<div class="container">
<h1>Write for AWL</h1>
<p>Here at Alien Watch List we believe that all lists should be afforded equal opportunity. In other words, your lists matter to us. Although at the moment we don’t offer financial compensation for writing, we will give you recognition with a link to your website or profile in your biography at the end of the post. So, if you have a list that you would like us to publish then read on!
</p>

<h2>3 Steps To Submit</h2>
<h4>Think of a catchy title</h4>
<h4>Write a clear description</h4>
<h4>Write an in depth post.</h4>

<p>
If we like your list (or think that other people will like it) we’ll ask you for the images. All images will be 610 pixels wide. Good luck!
</p>
</div>