<title>Alien Watch List | UFOs, Conspiracies, Abductions</title>
<div class="row">
<%= render @links %>
</div>
<div class="clear"></div>
<div class="text-center">
   <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
</div>