/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-default-bg:                          #000000;
$navbar-default:                          white;
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);
@import "bootstrap-sprockets";
@import "bootstrap";



.clear {
  clear: both;
}

.linktitle {
  font-size: 17px;
}

.homemap {
  padding-top: -40px;
}

.logo_image {
	margin-top: -10px;
}

.thumbnail {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
}

.jumbotron {
  background-color: #424141;
  color: white;
  text-align: center;
}

.table {
    border-collapse: collapse !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

#logo {
	font-size: 26px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: white;
	}
}

.btn-sample { 
  color: #ffffff; 
  background-color: #FA6900; 
  border-color: #FA6900; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #D16E27; 
  border-color: #FA6900; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #FA6900; 
  border-color: #FA6900; 
} 
 
.btn-sample .badge { 
  color: #FA6900; 
  background-color: #ffffff; 
}

