<div class="container">    
	<hr>
	<div class="row-fluid">
			<div class="span10">
				<a href="#">About Us</a> |
				<a href="#">Terms of Service</a> |    
				<a href="#">Privacy</a> |    
				<a href="#">Contact Us</a> |
				<a href="#">Advertising</a> |
				<a href="#">Write for AWL</a>  
				<p class="muted pull-right">© 2015 Alien Watch List. All rights reserved</p>
			</div>
		</div>
	</div>
</div>